.git
.github
.idea
.phpunit.cache
.php-cs-fixer.cache
.env.local
.env.*.local
.env.local.php
coverage
coverage.xml
data
dev-ops
docs
tests
var
vendor
Dockerfile
compose*.yaml
Makefile
phpunit.dist.xml
phpunit.xml
psalm.xml
psalm-baseline.xml
renovate.json
*.md
